<header class="header">
        <nav class="navbar">
            <p>LUXE BEAUTY</p>

            <div class="hamburger"><img src="/images/hamburger.png" alt="menu" width="39" height="39"></div>

            <ul class="nav-links">
                <li><a href="/html/index.html">Acasă</a></li>
            <li><a href="/html/about.html">Despre</a></li>
            <li><a href="/html/services.html">Servicii</a></li>
            <li><a href="/html/galerie.html">Galerie</a></li>
            <li><a href="/html/contact.html">Contact</a></li>

                <button class="btn-programare open-booking" >PROGRAMEAZĂ-TE</button>
            </ul>
           
        </nav>
    </header>